{% extends 'base.html' %}
{% block content %}

<h1>About No Future Yoga</h1>
    <p class="description">I believe in the system of Ashtanga Vinyasa Yoga.<br>
    I do my practice 5, 6 times a week, mostly at 6:00 AM. Sometimes it’s hard, sometimes it’s easy, but I do it anyway. <br>
    It is part of my daily routine. Ashtanga has a very strict of rules at its core,<br>
    and if sometimes I don’t follow them all, I always go back to it for its reliability.<br><br>
    I’ve practiced with few well-known, experienced teachers <br>
    and also with a couple of less famous, but nonetheless knowledgeable ones. <br>
    I’ve been to India three times, but to be honest I’ve learnt the most by being alone on my own mat, <br>
    and applying regularly what I learnt in these journeys.<br>
    </p>

<img class="img-yoga" src="../static/about1.png"><br><br>

<br>

    <p class="description">No Future Yoga shop is my way to show people that they can be spiritual,<br>
    respect their practice and can still laugh about it. <br>
    I’ve found many similarities in my heart between punk rock, <br>
    Star Wars and yoga, and that is the root of No Future Yoga products.<br>
    </p>
<img class="img-yoga" src="../static/about2.jpg"><br><br>


{% endblock %}
