{% extends 'base.html' %}
{% block content %}
<ul style="text-align:center;">

    <form action="" method="POST">
        {% csrf_token %}

        <h3 class="title">Is it a prime number?</h3>

        <br><br>
        {{ form2.as_p }}

        <button name="prime" type="submit">Is it a prime?</button>
        </br>
        <p class="answer">It is not a prime number</p>


    </form>

    <form action="" method="POST">
        {% csrf_token %}
        <h3>Show all prime numbers between 2 numbers:</h3><br>
        <p>Number3 needs to be smaller than 10001.</p>
        <br><br>
        {{ form3.as_p }}

        <button type="submit" name="prime2">Let's do that!"</button>
        <p class="answer">{{ lst }}</p>


    </form>

</ul>
{% endblock %}