{% extends 'base.html' %}
{% block content %}


<table style="100%">
    <tr>
        <td class="about"><p>I’ve been knitting for almost 10 years. <br>
            Between 2012 and 2015,
I was an official distributor of Ístex (Icelandic yarn producer) in Poland.
<br>I designed my own patterns and thought people how to knit popular, Icelandic sweaters.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/hraun.jpg">
            Pattern: "Hraun" by me.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/Mandalorian2.jpeg">
            Pattern: "Mandalorian" by me.
        </td>
    </tr>
    <tr>
        <td class="about"><img style="width: 100%" src="/static/knitting/lopakjoll.jpg">
            Pattern: "Lopi dress" by me.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/reddarthvader.jpg">
            Pattern: "Darth Vader" by me.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/lopilopi.jpg">
            Pattern: "Lopi Lopi" by me.
        </td>

    </tr>
    <tr>
        <td class="about"><img style="width: 100%" src="/static/knitting/klukka2.jpg">
            Pattern: "Astrid" by Astrid Ellingsen.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/darthvader.jpg">
            Pattern: "Darth Vader" by me.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/Ast2.jpg">
            Pattern: "Ást" by me.
        </td>

    </tr>
    <tr>
        <td class="about"><img style="width: 100%" src="/static/knitting/first.jpg">
            Pattern: based on "Léttlopavesti" by Védís Jónsdóttir
        </td>

        <td class="about"><img style="width: 100%" src="/static/knitting/gloves.jpg">
            Pattern: "Just gloves" by me.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/klukka7.jpg">
            Pattern: "Klukka" by Védís Jónsdóttir
        </td>
    </tr>
    <tr>
        <td class="about"><img style="width: 100%" src="/static/knitting/balahvit.jpg">
            Pattern: "Balahvít" by Brynja
            Þora Valtýsdóttir.
        </td>

        <td class="about"><img style="width: 100%" src="/static/knitting/sister.jpg">
            Pattern: "Astrid" by Astrid Ellingsen.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/Seb3.jpg">
            Pattern: "For Seb" by me.
        </td>

    </tr>

    <tr>
        <td class="about"><img style="width: 100%" src="/static/knitting/kid2.jpg">
            Pattern: Based on istex patterns - "Penguins" and "keðja".
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/kid.jpg">
            Pattern: "Kambur" by Védís Jónsdóttir.
        </td>
        <td class="about"><img style="width: 100%" src="/static/knitting/crime.jpg">
            Pattern: "Crime" by me.
        </td>

    </tr>
</table>


{% endblock %}
