{% extends 'base.html' %}
{% block content %}
<ul style="text-align:center;">
<p class="description"><br>
    Music is an another important part of my life.
    I did my BA with Artistic Education in Musical Art, <br>
    I’ve learnt how to play the harmonium in a classical way
    from a great music teacher in India. <br>
    What to say more, music is in my soul,
    in my heart and in my mind all the time.<br>

    I’m fully engaged with a project Ʒɛb ənd Iːwa, with my pal Jeb. <br>
    We live on a small island where two tectonic plates meet, <br>
    and it inspired us to connect Eastern, traditional music with Western vibes. <br>
    Jeb’s mellow guitar playing happened to match perfectly with what I learnt in India <br>
    when we tried to play together, so was born the band! .<br>
</p>
<img style="width: 440px" src="/static/Jeb_and_Iwa.png"><br><br>

<br>
    <h5>Short video of our gig: <br></h5>
    <object style="height: 390px; width: 440px"><param name="movie" value="https://www.youtube.com/watch?v=4ET4dIS5BDQ"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="https://www.youtube.com/watch?v=4ET4dIS5BDQ" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="440px" height="390"></object><br>

    <h5>If you want us to perform,
    <a href='/website/contact/'>contact me!</a></p>
    </h5><br>


</ul>
{% endblock %}
