{% extends 'base.html' %}
{% block content %}

<table style="width:100%">

    <tr>
        <td style="width: 50%"><img style="width: 100%" src="/static/about1.png"></td>
        <td style="width: 50%; "><h5>My practice</h5>
            <p>
                I believe in the system of Ashtanga Vinyasa Yoga.
                I do my practice 5, 6 times a week, mostly at 6:00 AM. Sometimes it’s hard, sometimes it’s easy, but I
                do it anyway.
                It is part of my daily routine. Ashtanga has a very strict of rules at its core,
                and if sometimes I don’t follow them all, I always go back to it for its reliability.

                I’ve practiced with few well-known, experienced teachers
                and also with a couple of less famous, but nonetheless knowledgeable ones.
                I’ve been to India three times, but to be honest I’ve learnt the most by being alone on my own mat,
                and applying regularly what I learnt in these journeys.
            </p>
        </td>
    </tr>
</table>


<table style="width:100%">
    <tr>
        <td class="about" align="center"><img style="width: 100%" src="/static/rishikesh.jpg"></td>
        <td class="about"><h5>I am a yoga teacher</h5>
            <p class="description">This is one of the fruits of my first trip to India, to Rishikesh - the world capital
                of yoga.
                I've gotten way more than this document, but fortunately we, as humanity, haven't started giving
                diplomas for that ;)
            </p>
        </td>
        <td class="about"><img style="width: 100%" src="/static/certificate.png"></td>
    </tr>
</table>


<table style="width:100%">
    <tr>
        <td class="about">
            <div class="card">
                <img src="/static/private.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>1h private class</b> </br>
                        When: Contact me to book a spot. <br>
                        Where: in Reykjvík area <br>
                        Single class: 6000 ISK<br>
                        <a href="/website/contact/" class="btn btn-primary" role="button" data-bs-toggle="button">Contact me to
                            set a date!</a>

                    </p>
                </div>
            </div>

        </td>
        <td class="about">
            <div class="card">
                <img src="/static/fraktal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>Yoga at Fraktal</b><br>
                        When: Every Thursday</br>
                        Where: Fraktal, Hringbraut 119</br>
                        Time: 5:29 - 6:43 pm.</br>
                        Single class: 1500 ISK</br>
                        4 class pass: 5000 ISK<br>
                        <a href="/website/contact/" class="btn btn-primary" role="button" data-bs-toggle="button">Contact me to
                            book a spot!</a>
                    </p>
                </div>
            </div>

        </td>
        <td class="about">
            <div class="card">
                <img src="/static/group-yoga.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>Yoga at your work place</b><br>
                        1 hour long relaxing yoga class.<br>
                        Single class: 11 000<br>
                        <a href="/website/contact/" class="btn btn-primary" role="button" data-bs-toggle="button">Contact me to
                            know more!</a>

                    </p>
                </div>
            </div>

        </td>

    </tr>

</table>

{% endblock %}

style="width: 480px;"